@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        <MudText>Palworld Cheater</MudText>
        
        <MudSpacer/>
        
        <span>Tested on: <MudText Color="Color.Surface">v0.6.2.76269</MudText></span>
    </MudAppBar>
    
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>